@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/montserrat";
@import "@fontsource/open-sans";
@import "@fontsource/roboto";
@import "@fontsource/poppins";

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background 0.3s;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
